<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    <style>
        .navbar-fixed-top .navbar-nav > li > a:hover, .navbar-fixed-top .navbar-nav > li > a:focus {
            background-color: red;
            color: #FFffff;
        }

        navbar-fixed-bottom div .navbar-nav > li > a:hover, navbar-fixed-bottom div .navbar-nav > li > a:focus {
            background-color: #FFffff;
            color: yellow;
        }

        #sidebar li {
            margin-top: 50px;
            margin-bottom: 50px;
            text-decoration: none;
        }

            #sidebar li a {
                margin-top: 50px;
                margin-bottom: 50px;
                color: red;
                size: 120px;
            }
    </style>
</head>
<body>

    @* Navigation Bar *@
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" style="color: red; font-weight: bold; margin: 10px; letter-spacing: 5px">Inventrii Safe</a>
                </div>
                <ul class="nav navbar-nav " style="margin: 10px; letter-spacing: 2px">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Shopping Area</a></li>
                    <li><a href="#">Credit Center </a></li>
                    <li><a href="#">My Cart </a></li>
                    <li><a href="#">History </a></li>
                    <li><a href="#">About us </a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin: 10px">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="sidebar" class="col-lg-2" style="background-color: #F8F8F8; color: red; ">
        <ul>

            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Credit Center </a></li>
            <li><a href="#">My Cart </a></li>
            <li><a href="#">History </a></li>
            <li><a href="#">About us </a></li>
            <li><a href="#">About us </a></li>
            <li><a href="#">About us </a></li>

        </ul>
    </div>
    @* RenderBody Portion *@
    <div class="container-fluid col-lg-push-2" style="margin: 10px">


        @RenderBody()
    </div>
    @* Footer Portion *@
    <footer>
        <nav class="navbar navbar-fixed-bottom">
            <div style="background-color: red; width: auto; height: 80px;">
                <ul class="nav navbar-nav navbar-right" style="margin: 10px; letter-spacing: 2px">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Shopping Area</a></li>
                    <li><a href="#">Credit Center </a></li>
                    <li><a href="#">My Cart </a></li>
                    <li><a href="#">History </a></li>
                    <li><a href="#">About us </a></li>

                </ul>
            </div>
        </nav>
    </footer>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>