<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Style.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />


    @*Icons Link*@
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    
</head>
<body>

    @* Navigation Bar *@
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" style="color: red; font-weight: bold; margin: 10px; letter-spacing: 5px">My Inventory </a>
                </div>
                <ul class="nav navbar-nav " style="margin: 10px; letter-spacing: 2px">
                    <li><a href="\Home\Index">Home</a></li>
                    <li><a href="#">Shopping Area</a></li>
                    <li><a href="#">Credit Center </a></li>
                    <li><a href="#">My Cart </a></li>
                    <li><a href="#">History </a></li>
                    <li><a href="#">About us </a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin: 10px">
                    <li><a href="\Home\Login"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="\Home\Signup"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    @* Side Bar *@
    <div id="sidebar" class="col-lg-2 navbar-fixed-top" style="background-color: #F8F8F8; color: red;">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color: red; font-weight: bold; margin: 10px; letter-spacing: 5px">My Inventory</a>
        </div>
        <ul>

            <li style="margin-top: 100px"><a href="#">Dashboard</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Products Images </a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Other Pages
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="active" style="background-color: red; color: #f8f8f8; margin-top: 0px; ">- Select one option - </a></li>
                    <li><a href="#">User Detail</a></li>
                    <li><a href="#">Forms</a></li>
                    <li><a href="#">Table</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Peoples
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="active" style="background-color: red; color: #f8f8f8; margin-top: 0px;">- Select one option - </a></li>
                    <li><a href="#">Customer</a></li>
                    <li><a href="#">Seller</a></li>
                </ul>
            </li>
            <li><a href="#">My Cart </a></li>
            <li><a href="#">Returns </a></li>
            <li><a href="#">History </a></li>

        </ul>
    </div>
    @* RenderBody Portion *@
    <div class="container-fluid col-lg-push-2 col-lg-10" style="margin-top: 20px; margin-left: 10px; margin-bottom: 10px; margin-right: 0px;  padding-left: 0px; padding-right: 0px; padding-top: 20px;  ">
        @RenderBody()
    </div>
    @* Footer Portion *@
    <footer>
        <nav class="navbar navbar-fixed-bottom">
            <div style="background-color: red; width: auto; height: 80px;">
                <ul class="nav navbar-nav navbar-right" style="margin: 10px; letter-spacing: 2px">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Shopping Area</a></li>
                    <li><a href="#">Credit Center </a></li>
                    <li><a href="#">My Cart </a></li>
                    <li><a href="#">History </a></li>
                    <li><a href="#">About us </a></li>

                </ul>
            </div>

        </nav>
    </footer>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>