@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/style2.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Signup Form </title>

</head>
<body>
<div class="container" id="container">
    <div class="form-container log-in-container">
        <form action="\Home\Index">
            <h1 style="margin-bottom: 20px;">Signup</h1>
            @*<div class="social-container">
                <a href="#" class="social"><i class="fa fa-facebook fa-2x"></i></a>
                <a href="#" class="social"><i class="fab fa fa-twitter fa-2x"></i></a>
            </div>*@
            @*<span>or use your account</span>*@
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email" />
            <input type="text" placeholder="Phone No" />
            <input type="password" placeholder="Password" />
            
            <button type="submit" style="margin-top: 20px">Sign up</button>
            <a href="\Account\Login" style="font-size: 10px; font-weight: 400; text-decoration: underline; color: #FF4B2B">Login here</a>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right" >
                <h2 style="margin-left:10px">Inventory Management System</h2>
                <p style="margin-left:10px">This management System is made By Muhammad Rameez.</p>
                <p style="margin-top: 10px; margin-left:10px">muhammadrmz871@gmail.com</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>