@using Inventory_Management_System.Models

@{
    Layout = null;
    List<User> users = ViewBag.User as List<User>;

}

<!DOCTYPE html>
<html>
<head>
    <link href="~/style2.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Signup Form </title>

</head>
<body>
<div class="container" id="container">
    <div class="form-container log-in-container">
        <form action="/Account/Signup" method="post">
            <h1 style="margin-bottom: 20px;">Signup</h1>
            <input type="text" placeholder="Name" name="Name" />
            <input type="email" placeholder="Email" name="email" />
            <input type="text" placeholder="Phone No" name="phone" />
            <div class="form-group">
                <label for="ps">Role :</label>
                <select name="RoleId" class="form-control">
                    @foreach (var i in users)
                    {
                        <option value="@i.RoleId"> @i.Role.Title</option>
                    }

                </select>
            </div>
            <input type="password" placeholder="Password" name="password" />

            <button type="submit" style="margin-top: 20px">Sign up</button>
            <a href="\Account\Login" style="font-size: 10px; font-weight: 400; text-decoration: underline; color: #FF4B2B">Login here</a>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right" >
                <h2 style="margin-left:10px">Inventory Management System</h2>
                <p style="margin-left:10px">This management System is made By Muhammad Rameez.</p>
                <p style="margin-top: 10px; margin-left:10px">muhammadrmz871@gmail.com</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>