@using Inventory_Management_System
@model List<Inventory_Management_System.Models.User>

@{
    ViewBag.Title = "Customer";
}

<h2 style="color: red; display: flex; justify-content: center; margin-bottom: 30px;">Active Customer </h2>


<table class="table table-striped" id="mytbl">
    <thead>
    <tr>
        <th>User</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var i in Model)
    {
        <tr>
            <td><i class='fas fa-user-check'></i></td>
            <td>@i.Name</td>
            <td>@i.phone</td>
            <td>@i.email</td>
            <td>@i.Role.Title</td>

        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <th>User</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    </tfoot>
</table>